body {
    font-family: 'Ubuntu';
}

p {
    line-height: 1.75;
    margin: 20px;
    color: dimgray;
}


/*first container*/
.icon-class {
    width: 80px; 
    height: 80px;
}

.first-container {
    background-color: coral;
}

.navbar-brand {
    color: white;
    font-size: x-large;
}

.navbar-brand:hover {
    color: black;
}


/*second container*/
.second-container {
}

.second-container-links {
    padding: 10px;
    color: black;
}


/*fourth container*/
.fourth-container {
    background-color: dimgray;
    padding: 4rem;
    text-align: center;
    color: white;
}

.empty-container {
    height: 150px;
    background-color: ;
}

/*fifth container*/
.fifth-container {
    background-color: coral;
    text-align: center;
    padding: 50px;
    color: white;
}

/*sixth container*/
.sixth-container {
    text-align: center;
    padding: 80px;
}

.box {
    padding: 20px;
}

.card {
    width: 20rem;
}

/*last container*/
.last-container {
    background-color: coral;
    text-align: center;
    padding: 50px;
    font-size: 1.25rem;
    color: whitesmoke;
}

.p-class {
    color: white;
}

.join-class {
    margin: 80px;
}

form {
    margin: 30px;
}

.mail-class {
    color: white;
}

.mail-class:hover {
    color: black;
}

#name {
    color: white;
}

#name:hover {
    color: black;
}
